.login_container {
  height: 100%;
  width: 100%;
  min-width: 100vw;
  min-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.login_logo {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 200px;
  object-fit: contain;
}

 .login_form input {
  background-color: #fff;
  border-color: #3f3a7661;
  line-height: normal; 
  margin-top: 5px;
  font-size: 15px;
} 

.login_form {
  display: flex;
  flex-direction: column;
}
.login_box {
  border-radius: 4px;
  border: 1px #ddd solid;
  background-color: #fff;
  width: 350px;
  margin: 20px auto;
  padding: 20px 26px !important;
}
.login_box h1 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}
.login_box label {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}

.login_box button {
  background: linear-gradient(to right, #5a89e5, #4aa9e1, #3ac9dd );
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
  /* box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset;
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  color: #111;
  height: 30px;
  border-radius: 2px;
  cursor: pointer; */
}


.login_NewAcc {
  background: linear-gradient(to bottom, #d5d5d5, #f0f0f0);
  position: relative;
  height: 29px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border: 1px solid #00000033;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  width: 400px;
}


.login_linkContainer a {
  display: flex;
  flex-direction: column;
  color: #0066c0;
  margin-top: 0.5rem;
}

.login_CopyrightContainer {
  overflow: hidden;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.login_linkOver {
  display: flex;
  justify-content: space-between;
}
.login {
  overflow: hidden;
}

@media only screen and (max-width: 440px) {
  .login_box {
    width: 250px;
  }
  .login_NewAcc {
    width: 300px;
  }
}