.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 100;
}

.bakcHead {
  display: flex;
  justify-content: space-between;
}
.p1loba {
  display: flex;
  width: 40vw;
  justify-content: center;
}


#header-img {
  height: 50px;
  filter: brightness(0) invert(1);
  margin: 6px 20px 5px 20px;
}

.majorSearchContain {
  flex: 1;
  padding: 16px;
}
.searchContainer {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.87);
  /* max-width: 800px; */
  margin: 0px auto;
}
.searchContainer:focus-within {
  border-color: #e77600;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, 0.5);
}
.searchList {
  padding: 8px 11.25px;
  font-size: 16px;
  cursor: pointer;
}
.searchList:hover {
  background-color: #f1f1f1 !important;
}

.searchSuggestions {
  border: 1px solid;
  display: flex;
  position: absolute !important;
  flex-direction: column;
  vertical-align: bottom;
  z-index: 5;
  background: white;
  width: 100%;
}
.searchChoiceCon {
  position: relative;
}

.Header_searchBar {
  font-size: 16px;
  padding: 10px;
  height: 20px;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 4px 0px 0px 4px;
}
.searchIcon {
  fill: rgb(158, 158, 158);
  /* height: 24px; */
  /* width: 24px; */
  /* padding: 10px; */
}
.nav_Link {
  color: white;
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 9px;
  padding-left: 9px;
  outline: none;
  border: 1px solid transparent;
  transition: all .2s ease;
}




.nav_Link:hover {
  border: 1px solid white;
  border-radius: 5px;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}
.header_options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  justify-content: center;
}

.nav_O1 {
  font-size: 15px;
  text-align: left;
}

.nav_O2 {
  font-size: 16px;
  font-weight: 800;
}
.newLBacNaH {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.header_Cart {
  height: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.cartIcon {
  color: white;
}

@media only screen and (max-width: 650px) {
  #header-img {
    object-fit: cover;
    object-position: 0% 0;
    width: 55px;
    margin: 6px 10px 5px 10px;
  }
  .p1loba {
    width: fit-content;
  }
}
@media only screen and (max-width: 400px) {
  #header-img {
    display: none;
  }
  .p1loba {
    flex-direction: column;
    align-items: center;
  }
  .bakcHead {
    justify-content: center !important;
  }
}
